@using TimeUtil.Components.TimeUntilCalculator
@using TimeUtil.Shared
@using TimeUtil.Shared.Interfaces

@inject IOutlookCalendarCSVParseService Parse
@inject ISnackbar Snackbar
@inject IDialogService Dialog


<MudPaper Class="pa-3">
    <div class="d-flex flex-row justify-space-between">
        <StyledText HtmlTag="h1" Typo="Typo.h6">
            Edit Events
        </StyledText>
        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.Help" Title="Help for Time utilisation calcultor" OnClick="@OpenHelpDialog" />
    </div>

    <MudStack Spacing="5">
        <div>
            <MudButton Style="width:fit-content;" Disabled="isExporting" Size="Size.Small" Variant="Variant.Filled" Color="Color.Info" OnClick="ExportCalendar" StartIcon="@Icons.Material.Filled.Download" Class="mt-2">Export all Events</MudButton>
            <MudButton Style="width:fit-content;" Disabled="SelectedEvents.Count < 1" Size="Size.Small" Variant="Variant.Filled" Color="Color.Secondary" OnClick="OpenEditiManyEventsDialog" StartIcon="@Icons.Material.Filled.Edit" Class="mt-2">Edit selected Events</MudButton>
        </div>
        <MudGrid Spacing="2">
            <MudItem xs="12" sm="12" lg="3">
                <MudTextField @bind-Value="@FilterString" Placeholder="Search Event Subject" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6" lg="2">
                <CategoryMultiSelect @bind-SelectedCategories="SelectedCategories" Categories="Calendar.Categories" TextFunc="TextHelpers.GetMultiSelectionText" />
            </MudItem>
            <MudItem xs="12" sm="6" lg="2" Class="d-flex align-self-end">
                <MudCheckBox Color="Color.Primary" @bind-Checked="IncludeUncategorised" Label="Show Uncategorised Events" />
            </MudItem>
            <MudItem xs="12" sm="9" lg="3">
                <MonthRangePicker StartDate="@Calendar.FirstEventDate" EndDate="@Calendar.LastEventDate" @bind-MonthRange="@MonthRange" />
            </MudItem>
            <MudItem xs="12" sm="3" lg="2">
                <MudSelect @bind-Value="DayState" T="AllDayState">
                    <MudSelectItem Value="AllDayState.Show">Show all day events</MudSelectItem>
                    <MudSelectItem Value="AllDayState.Hide">Hide all day events</MudSelectItem>
                    <MudSelectItem Value="AllDayState.Only">Show Only all day events</MudSelectItem>
                </MudSelect>
            </MudItem>
        </MudGrid>
        <div class="mt-1">
            <EventsTable Events="events"
                         EditEvent="OpenEditDialog"
                         Categories="@Calendar.Categories"
                         @bind-SelectedEvents="SelectedEvents" />
        </div>
    </MudStack>
</MudPaper>

@code {
    [Parameter, EditorRequired]
    public OutlookCalendar Calendar { get; set; } = default!;
    [Parameter]
    public Action? OnCalendarUpdated { get; set; }

    private OutlookCalendar? _calendar;
    private string? _filterString;
    private EventsTableData events = null!;
    private IEnumerable<string> _selectedCategories = Enumerable.Empty<string>();
    private MonthRange? _monthRange;
    private bool isExporting;
    private AllDayState _allDayState;
    private bool _includeUncategorised = true;
    private HashSet<Event> _selectedEvents = new();

    private IReadOnlySet<Event> SelectedEvents
    {
        get => _selectedEvents;
        set
        {
            if (value is HashSet<Event> eventHashSet)
            {
                _selectedEvents = eventHashSet;
            }
            else
            {
                _selectedEvents = new(value);
            }
        }
    }

    private enum AllDayState
    {
        Show,
        Hide,
        Only
    }

    private bool IncludeUncategorised
    {
        get => _includeUncategorised;
        set
        {
            _includeUncategorised = value;
            CalcEventsList();
        }
    }

    private AllDayState DayState
    {
        get => _allDayState;
        set
        {
            _allDayState = value;
            CalcEventsList();
        }
    }

    private string? FilterString
    {
        get => _filterString;
        set
        {
            _filterString = value;
            CalcEventsList();
        }
    }

    private MonthRange? MonthRange
    {
        get => _monthRange;
        set
        {
            _monthRange = value;
            CalcEventsList();
        }
    }

    private IEnumerable<string> SelectedCategories
    {
        get => _selectedCategories;
        set
        {
            _selectedCategories = value;
            CalcEventsList();
        }
    }

    protected override void OnParametersSet()
    {
        ThrowHelpers.ThrowIfRequiredPrameterNull(SelectedEvents);
        ThrowHelpers.ThrowIfRequiredPrameterNull(Calendar);

        if (Calendar != _calendar)
        {
            _selectedCategories = Calendar.Categories.ToList();
            _calendar = Calendar;
            _monthRange = null;
        }

        CalcEventsList();
    }

    private void CalcEventsList()
    {
        bool hideAllDayEvents = DayState == AllDayState.Hide;

        IEnumerable<Event> filteredEvents = Calendar.FilterEvents(_selectedCategories, IncludeUncategorised, _monthRange?.StartMonth, _monthRange?.EndMonth, FilterString, hideAllDayEvents);

        if (DayState == AllDayState.Only)
        {
            filteredEvents = filteredEvents.Where(e => e.AllDayEvent == true);
        }

        events = new(filteredEvents);

        _selectedEvents.Clear();
    }

    private async Task ExportCalendar()
    {
        isExporting = true;
        try
        {
            var dialogRef = Dialog.Show<ExportFileNameDialog>("");

            var res = await dialogRef.Result;

            if (res.TryGetSuccessfulResult(out string? fileName))
            {
                await Parse.ExportOutlookCalendar(Calendar, fileName);
            }
        }
        catch
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add($"There was an error when exporting the file", Severity.Error);
            throw;
        }
        finally
        {
            isExporting = false;
        }

    }

    private void OpenHelpDialog()
    {
        Dialog.Show<EventsTableHelpDialog>("Help");
    }

    private async Task OpenEditDialog(Event eventToUpdate)
    {
        DialogParameters parameters = new()
        {
            { nameof(EditEventDialog.Event), eventToUpdate },
            { nameof(EditEventDialog.Categories), _calendar?.Categories }
        };

        var reference = Dialog.Show<EditEventDialog>("Simple Dialog", parameters);

        var res = await reference.Result;

        if (res.TryGetSuccessfulResult(out IEnumerable<string>? categories))
        {
            EventUpdate eventUpdate = new(eventToUpdate, categories.ToArray());
            _calendar?.UpdateEvent(eventUpdate);
            OnCalendarUpdated?.Invoke();
        }
    }

    private async Task OpenEditiManyEventsDialog()
    {
        DialogParameters parameters = new()
        {
            { nameof(EditManyEventsDialog.Events), SelectedEvents },
            { nameof(EditManyEventsDialog.Categories), _calendar?.Categories }
        };

        var reference = Dialog.Show<EditManyEventsDialog>("Simple Dialog", parameters);

        var res = await reference.Result;

        if (res.TryGetSuccessfulResult(out MultiEditResult? result))
        {
            EventUpdate[] eventUpdates = new EventUpdate[SelectedEvents.Count];

            int index = 0;
            foreach (Event @event in SelectedEvents)
            {
                HashSet<string> newCates = new(@event.Categories.Except(result.CategoiesToRemove));

                foreach (string category in result.CategoiesToAdd)
                {
                    newCates.Add(category);
                }

                EventUpdate eventUpdate = new(@event, newCates.ToArray());
                eventUpdates[index] = eventUpdate;

                index++;
            }

            _calendar?.UpdateManyEvents(eventUpdates);

            // Remove old events after new edited ones are created to replace the ones edited.
            // If not remove out of bonds exception and memory link possible.
            _selectedEvents.Clear();

            OnCalendarUpdated?.Invoke();
        }
    }
}
